*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.cartcontainer{
    padding: 40px 50px;
    width:100%;
    background: rgb(194, 227, 248);
    border-radius: 1px solid #9a9a9a;
}
.cartcontainer .emptycart{
    margin: 30px 0px;
    margin-left: 40%;
}
.cartcontainer .emptycart h2{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cartcontainer .emptycart .emptybtn{
    margin-left: 80px;
    text-decoration: none;
    padding: 10px 20px;
    background: #8a3069;
    color: rgb(194, 227, 248);
}
.cartcontainer .emptycart .emptybtn:hover{
    background:#5b1541;
}